
/* css */
.container {
  background-color: #F03327;
}

.black {
  color: #160005;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1rem;
}

.white {
  color: #DFE3D9;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 7.8125rem;
  line-height: 7.8125rem;
}
