
/* css */
p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  background-color: #F03327;
}

.black {
  color: #160005;
}

.white {
  color: #DFE3D9;
}
